@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

@layer components {
  .wrapper-xl {
    @apply mx-auto w-full max-w-screen-xl px-5 md:px-10;
  }
  .py-screen {
    @apply pb-[16vh] pt-[12vh];
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .bg-dimmed {
    backdrop-filter: blur(0.25rem) saturate(120%);
    @apply bg-black/30 dark:bg-slate-200/20;
  }
}
